<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How did you do?</title>
</head>
<style>
body {background-color: rgb(224,224,224) }  
h1 {color: rgb(0,102,69); margin: 40px; top: 40px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
p {margin-left: 40px; color: rgb(53, 53, 53); font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
</style>
<body>
    <h1> {{reply}} </h1>
    <p>You have worked on {{questions_count}} problems so far.
    </p>
    <p> <a href="/questions">Next Problem</a></p>
    
</body>
</html>
