<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<style>
body {background-color: rgb(224,224,224) }  
h1 {color: rgb(0,102,69); margin: 40px; top: 40px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
p {margin-left: 40px; color: rgb(53, 53, 53); font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
</style>
<body>
    <h1>Error! Please submit an answer.</h1>
    <p> Navigate back <a href="/questions">here.</a>
</body>

</html>
