<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consulting Math</title>
</head>
<style>
body {background-color: rgb(224,224,224) }  
h1 {color: rgb(0,102,69); margin: 40px; top: 40px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 48px;}
p {margin-left: 40px; color: rgb(53, 53, 53); font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 24px;}
</style>
<body>
    <img src="{{url_for('static', filename='banner.png')}}" style="width: 100%; position: absolute; top: -1px; left: -1px;">
    <br> <br> <br> <br> <br> <br> <br> <br> <br>  <br> <br>
    <h1>Ready to get started?</h1>
    <p>You have chosen to do {{total_questions}} questions during this session.</p>
    <p><a href="/questions">Get started</a></p>
</body>
</html>